################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Heartbeat8266/.vs/Heartbeat8266/v16
